[Unit]
Description=Linux Admin Journey Scheduled Maintenance Task
Documentation=https://github.com/AGCommits/linux-admin-journey
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=ash
Group=ash
WorkingDirectory=/home/ash/linux-admin-journey/projects/linux-scheduled-task-automation
ExecStart=/home/ash/linux-admin-journey/projects/linux-scheduled-task-automation/scripts/maintenance-task.sh

NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=read-only
ReadWritePaths=/home/ash/linux-admin-journey/projects/linux-scheduled-task-automation/reports
ReadWritePaths=/home/ash/linux-admin-journey/projects/linux-scheduled-task-automation/logs

[Install]
WantedBy=multi-user.target